@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Seja bem-vindo</h1>
        <p class="lead">No menu acima você encontra as funcionalidades do Sistema de Livraria.</p>
    </div>
</div>